/* Fonts
-------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@font-face {
	font-family: Orkney Light;
	src: url("../assets/fonts/orkney-light.otf") format("opentype");
}

$font-primary: 'Roboto', sans-serif;
$font-secondary: "Lato", Lato, Sans-serif;
$font-tertiary: "Orkney Light", Lato, Sans-serif;

/* Color Variables
-------------------------------------------------------------- */
$black-Nav: #1F2041;
$blue-btn: #0496ff;
$navy-Blue: #0272B1;
$light-Purple: #1F2041;
$yellow: #F6CC00;
$silver: #F1F1F1;
$light-Grey: #A2A2A2;
$aqua: #3cbfbd;
$purple: #7759a6;
$medium-Blue: #0496FF;



$main-Blue: $blue-btn;
$dashed-Blue: $navy-Blue;
$main-Hero: $light-Purple;
$secondary-Btn: $yellow;
$secondary-Grey: $light-Grey;
$secondary-Blue: $medium-Blue;
$absent-color: transparent;
$primary-dark: $black-Nav;
$primary-white: #FFFFFF;
$primary-grey: $silver;
$primary-Aqua: $aqua;
$primary-Purple: $purple;



/* Global Styles
-------------------------------------------------------------- */
html {
	scroll-behavior: smooth;
	font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (4000 - 400) );
}
/*@media screen and (min-width: 25em){
  html { font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) ); }
}
*/
img {
	width: 100%;
	height: auto;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.noscroll {
	height: 100%;
	overflow: hidden;
	@supports (-webkit-overflow-scrolling: touch) {
		/*CSS specific to iOS devices only  */
		position: fixed;
	}
}

.max-width-nav-center {
	max-width: 1139px;
	margin: 0 auto;	
}

.resize-animation-stopper * {
	animation: none !important;
	transition: none !important;
}