
$black-nav: #1F2041;
$black-x: #1F2041;


$primary-dark: $black-nav;
$secondary-dark: $black-x;
$primary-white: #FFFFFF;



html {
	scroll-behavior: smooth;
}

img {
	max-width: 100%;
	height: auto;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}