.brands {
	
	background-color: $primary-grey;

	.swiper-brands {
		height: 165px;
		position: relative;
	}

	&__title {
		text-align: center;
		padding-top: 2.5rem;
		padding-bottom: 2rem;
		margin: 0;
	}

	&__img {
		background-position: center;
		background-repeat: no-repeat;
		height: 100%;
		padding: 0 3rem;
	}
}