.btn {
  background-color: $main-Blue;
  color: $primary-white;
  text-decoration: none;
  height: 35px;
  width: 110px;
  text-align: center;
  padding: 10px;
  margin-right: 5px;
  border-radius: 5px;
  align-self: center;
  display: none;
  transition: background .3s ease-out;
  /*line-height: 1.15;*/
  @mixin atLarge {
    display: block;
  }

  &:hover {
    /*line-height: 1.15;*/
    background-color: $primary-white;
    color: $main-Blue;
    border: solid $main-Blue 1px;
  }
}