.btn {
  background-color: $main-Blue;
  color: $primary-white;
  text-decoration: none;
  height: 35px;
  padding: 10px;
  margin-right: 5px;
  border-radius: 5px;
  align-self: center;
  display: none;
  @mixin atLarge {
    display: block;
  }

  &:hover {
    background-color: $primary-white;
    color: $main-Blue;
    border: solid $main-Blue 1px;
  }
}