.clients {

	background-color: $primary-grey;

	&__center {
		padding-bottom: 2.5rem;
	}

	&__swiper {
		height: 165px;
		position: relative;
	}

	&__img {
		background-position: center;
		background-repeat: no-repeat;
		height: 100%;
	}
}