.hero {
	
	padding-top: 60px;

	.swiper-container {
		width: 100%;
		height: calc(95vh - 60px);
	}

	.swiper-slide {
		display: flex;
		align-items: center;
	}

	&__center {
		flex: 1 0 0;
		padding: 0 2rem;
	}

	&__info {
		margin-bottom: 45px;
	}

	&__img {
		&--1 {
			background-image: linear-gradient(
				rgba($main-Hero, 0.41), rgba($main-Hero, 0.41)),
			url(./assets/images/hero-1.webp);
			background-size: cover;
			background-position: center;
		}
		&--2 {
			background-image: linear-gradient(
				rgba($main-Hero, 0.41), rgba($main-Hero, 0.41)),
			url(./assets/images/hero-2.webp);
			background-size: cover;
			background-position: center;
		}
		&--3 {
			background-image: linear-gradient(
				rgba($main-Hero, 0.41), rgba($main-Hero, 0.41)),
			url(./assets/images/hero-3.webp);
			background-size: cover;
			background-position: center;
		}
	}

}


