.navbar {

	@extend %max-width-center;
	height: 60px;
	background-color: blue;

	ul {
		list-style: none;
		padding-left: 0;
	}

	&__logo {
		width: 150px;
		vertical-align: middle;
	}

	&__links {
		margin-top: 30px;
		background-color: $primary-dark;
		color: $primary-white;
		display: none;
		animation: growDown 300ms ease-in-out forwards;
		transform-origin: top center;
		cursor: pointer;

		&--is-visible {
			z-index: 1;
			display: block;
		}

		& li {
			padding: 2rem;
			&:hover {
				background-color: $primary-white;
				color: $primary-dark;
			}
		}
	}

	&__dropcontent {
		display: flex;
		justify-content: space-between;
		&--active {
			background-color: $primary-white;
			color: $primary-dark;
		}
	}

	&__content {
		display: none;
		animation: growDown 300ms ease-in-out forwards;
		transform-origin: top center;
		& li {
			padding-left: 50px; 
		}
		&--expanded {
			display: block;
		}
	}

	&__menu-icon {
		width: 20px;
		height: 19px;
		position: absolute;
		z-index: 10;
		top: 20px;
		right: 20px;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: $secondary-dark;
			transform-origin: 0 0;
			transition: transform .3s ease-out;
		}

		&__middle {
			position: absolute;
			top: 8px;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: $secondary-dark;
			transform-origin: 0 50%;
			transition: all .3s ease-out;
		}

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: $secondary-dark;
			transform-origin: 0 100%;
			transition: transform .3s ease-out;
		}

	}

	&__menu-icon--close-x {
		&::before {
			transform: rotate(45deg) scaleX(1.25);
		}

		.navbar__menu-icon__middle {
			opacity: 0;
			transform: scaleX(0);
		}

		&::after {
			transform: rotate(-45deg) scaleX(1.25) translateY(1px);
		}
	}

	&__btn {
		display: none;
	}

}

@keyframes growDown {
	0% {
		transform: scaleY(0)
	}
	80% {
		transform: scaleY(1.1)
	}
	100% {
		transform: scaleY(1)
	}
}	
@keyframes growUp {
	0% {
		transform: scaleY(1)
	}
	80% {
		transform: scaleY(1.1)
	}
	100% {
		transform: scaleY(0)
	}
}