.navbar {

	position: fixed;
	height: 60px;
	width: 100%;
	background-color: $primary-white;
	box-shadow: 0 1rem 3rem rgba($primary-dark, .1);
	z-index: 9999999;

	&__center {
		@mixin atLarge {
			max-width: 1139px;
			display: flex;
			align-content: center;
			justify-content: space-between;
			height: 100%;
			margin: 0 auto;
		}
	}

	ul {
		list-style: none;
		padding-left: 0;
	}

	&__logo {
		margin-top: 13px;
		margin-left: 30px;
		width: 150px;
		@mixin atLarge {
			margin-top: 0;
		}
	}

	&__links {
		margin-top: 13px;
		background-color: $primary-dark;
		color: $primary-white;
		display: none;
		animation: growDown 300ms ease-in-out forwards;
		transform-origin: top center;
		cursor: pointer;

		@mixin atLarge {
			display: flex;
			align-items: center;
			margin-top: 0;
			margin-bottom: 0;
			background-color: transparent;
			color: $primary-dark;
			height: 100%;
		}

		&--is-visible {
			z-index: 1;
			display: block;
		}

		&--is-reverse {
			animation-direction: reverse;
		}

		& li {
			padding: 32px;

			@mixin atLarge {
				padding: 22px 16px;
			}
			&:hover {
				background-color: $primary-white;
				color: $primary-dark;
			}
		}
	}

	&__sub:hover .navbar__content {
		@mixin atLarge {
			display: block;
		}
	}

	&__dropcontent {
		display: flex;
		justify-content: space-between;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			width: 0;
			height: 4px;
			top: 0;
			left: 10px;
			background-color: $dashed-Blue;
			visibility: hidden;
			transition: all 0.3s ease-in-out;
		}

		&:hover:before {
			visibility: visible;
			width: 80%;
		}

		&--active {
			background-color: $primary-white;
			color: $primary-dark;
		}
	}

	.fa-caret-down {
		@mixin atLarge {
			margin-left: 5px; 
		}
	}

	&__content {
		display: none;
		animation: growDown 300ms ease-in-out forwards;
		transform-origin: top center;

		@mixin atLarge {
			/*margin-top: 6px;*/
			position: absolute;
			background-color: $primary-dark;
			color: $primary-white;
		}
		& li {
			padding-left: 50px; 
			@mixin atLarge {
				padding-left: 20px; 
			}
		}
		&--expanded {
			display: block;
		}
	}

	&__menu-icon {
		width: 20px;
		height: 19px;
		position: absolute;
		z-index: 10;
		top: 20px;
		right: 30px;

		@mixin atLarge {
			display: none;
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: $secondary-dark;
			transform-origin: 0 0;
			transition: transform .3s ease-out;
		}

		&__middle {
			position: absolute;
			top: 8px;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: $secondary-dark;
			transform-origin: 0 50%;
			transition: all .3s ease-out;
		}

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: $secondary-dark;
			transform-origin: 0 100%;
			transition: transform .3s ease-out;
		}

	}

	&__last-link {
		@mixin atLarge {
			display: none;
		}
	}

	&__menu-icon--close-x {
		&::before {
			transform: rotate(45deg) scaleX(1.25);
		}

		.navbar__menu-icon__middle {
			opacity: 0;
			transform: scaleX(0);
		}

		&::after {
			transform: rotate(-45deg) scaleX(1.25) translateY(1px);
		}
	}

}

@keyframes growDown {
	0% {
		transform: scaleY(0)
	}
	100% {
		transform: scaleY(1)
	}
}